#!upstart
# /etc/{{ nodeapp_name }}-worker.conf

stop on stopping {{ nodeapp_name }}

respawn
respawn limit 5 30

instance $NODEAPP_INDEX

script

  exec sudo -u www-data \
{% for k, v in nodeapp_env.iteritems() %}
    {{ k }}={{ v }} \
{% endfor %}
    n use {{ nodeapp_node_version }} {{ nodeapp_index }}

end script

